.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: lightblue;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nav-top img {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    transition: 100ms;
}

.nav-top img:hover {
    height: 120%;
    top: -10%;
}

.nav-top h1 {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: x-large;
    color: orange;
    transition: 100ms;
}

.nav-top a {
    text-decoration: none;
}

.nav-top h1:hover {
    font-size: xx-large;
}

.nav-top-sm {
    position: relative;
    top: 10%;
    width: 10%;
    height: 80%;
    text-align: center;
    transition: 200ms;
    border-radius: 100px;
}

.nav-top-sm:hover {
    background-color: blue;
}

.nav-top-lx {
    position: relative;
    top: 10%;
    left: 10%;
    float: left;
    width: 60%;
    height: 80%;
    transition: 200ms;
    border-radius: 100px;
}

.nav-top-lx:hover {
    background-color: blue;
}

.nav-top-r {
    right: 5%;
    float: right;
}

.nav-top-l {
    left: 5%;
    float: left;
}